<%= form_for(@slide) do |f| %>
  <% if @slide.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@slide.errors.count, "error") %> prohibited this portfolio from being saved:</h3>
      <% @slide.errors.full_messages.each do |msg| %>
          <span class="label label-important"><%= msg %></span>
      <% end %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
