<div class='container-16'>
  <div class="portfolio-head">
    <div class="short-divide"></div>
    <div class="portfolio-name">
      <%= @album.name %>
    </div>
    <div class="long-divide"></div>
  </div>

  <div id="galleria">
    <% @album.photos.each do |photo| %>
      <a href="<%= photo.photo_url %>">
        <img data-title="<%= photo.name %>"
               data-description=""
               src="<%= photo.slide_thumbnail_url %>">
      </a>
    <% end %>
  </div>
</div>