<div class='container-16'>
  <div class='gallery-panel'>
    <div id="slides">
      <% if @slides.count > 0 %>
          <% @slides.each do |slide| %>
          <a href="<%= slide.photo.photo_url %>">
            <img data-title="<%= slide.photo.name %>"
                 data-description=""
                 src="">
          </a>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
