<div class='container-16'>
  <div class="portfolio-head">
    <div class="short-divide"></div>
    <div class="portfolio-name">
      <%= @portfolio.name %>
    </div>
    <div class="long-divide"></div>
  </div>
  <div class="album-list">
    <div class="album-records">
      <div class="album-record">
        <a href=""><img src="/assets/thumbnail1.jpg"></a>
      </div>
      <div class="album-record">
        <a href=""><img src="/assets/thumbnail2.jpg"></a>
      </div>
      <div class="album-record">
        <a href=""><img src="/assets/thumbnail3.jpg"></a>
      </div>
      <div class="album-record">
        <a href=""><img src="/assets/thumbnail4.jpg"></a>
      </div>
      <div class="album-record">
        <a href=""><img src="/assets/thumbnail5.jpg"></a>
      </div>
      <div class="album-record">
        <a href=""><img src="/assets/thumbnail6.jpg"></a>
      </div>
    </div>
    <div class="album-paging">
    </div>
  </div>

</div>