// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gallery-panel {
  width: 980px;
  height: 600px;
  margin: 0 auto 25px auto;
  position: relative;
  text-align: center;
  line-height: 600px;
}

#slides {
  margin-left: auto;
  margin-right: auto;
  z-index:100;
  position: absolute;
  width: 980px;
}

.slide {
  margin: 0px auto;
  width: 980px;
}

.slide img {
  box-shadow:5px 5px 10px #444;
}


/*
  Slides container
  Important:
  Set the width of your slides container
  Set to display none, prevents content flash
*/

.slides-wrapper {
  position: static;
  top: -50%;
  left: -50%;
  vertical-align: middle;
}

/*
  Each slide
  Important:
  Set the width of your slides
  If height not specified height will be set by the slide content
  Set to display block
*/

.slides_container div.slide {
}


/*
  Next/prev buttons
*/

#slides:hover .next, #slides:hover .prev {
  display: block;
}

#slides .next, #slides .prev {
  position:absolute;
  top:0;
  left:-20px;
  width:43px;
  height:43px;
  display:block;
  z-index:101;
  display: none;
}

#slides .next {
  left:955px;
}

/*
  Pagination
*/

.pagination {
  margin:26px auto 0;
  width:100px;
}

.pagination li {
  float:left;
  margin:0 5px;
  list-style:none;
}

.pagination li a {
  display:block;
  width:12px;
  height:0;
  padding-top:12px;
  background-image:url('/assets/pagination.png');
  background-position:0 0;
  float:left;
  overflow:hidden;
}

.pagination li.current a {
  background-position:0 -12px;
}

/*
  Caption
*/

.caption {
  z-index:500;
  position:absolute;
  bottom:-35px;
  left:0;
  height:30px;
  padding:5px 20px 0 20px;
  background:#000;
  background:rgba(0,0,0,.5);
  width:540px;
  font-size:1.3em;
  line-height:1.33;
  color:#fff;
  border-top:1px solid #000;
  text-shadow:none;
}

.long-divide {
  display: block;
  width: 854px;
  height: 3px;
  margin: 15px auto 0px auto;
  background-image: url("/assets/long-divide.png");
}

.short-divide {
  display: block;
  width: 123px;
  height: 3px;
  margin: 20px auto 15px auto;
  background-image: url("/assets/short-divide.png");
}

.portfolio-name {
  font-family: "Rage Italic";
  font-size: 48px;
  display: block;
  line-height: 55px;
  color: #e8e8e8;
  text-shadow: 4px 4px 4px #777;
}

.album-list {
  width: 980px;
  overflow: hidden;
  margin: 10px auto 0 auto;
  zoom: 1;
}

.album-records {
  width: 854px;
  height: 528px;
  margin: 0 auto 20px auto;
  overflow: hidden;
  zoom: 1;
}

.album-record {
  float: left;
  overflow: hidden;
  zoom: 1;
  margin-left: 1.2em;
  margin-right: 1.2em;
  margin-bottom: 1em;
  box-shadow:5px 5px 10px #444;
}

.album-record:hover {
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
}

.page-enable {
  display: block;
  width: 13px;
  height: 14px;
  float: left;
  margin-right: 1em;
  background-image: url("/assets/page-enable.png");
}

.page-disable {
  display: block;
  width: 13px;
  height: 14px;
  float: left;
  margin-right: 0.7em;
  background-image: url("/assets/page-disable.png");
}

.album-paging {
  display: block;
  overflow:hidden;
  zoom:1;
  margin: 0 auto 30px auto;
}

#galleria {
  width: 980px;
  margin: 0 auto;
}

