.container-16 {
  margin: 0px auto;
  width: 1024px;
  display: block;
}


.container {
  width: 940px;
  height: 620px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  z-index: 0;
}


